server {
    listen 80;
    server_name smoke-inside.ru;

    index index.html;
    root /var/www/SmokeInside;

    location / {
    }
}

server {
    listen 80;
    server_name www.smoke-inside.ru;
    return 301 http://smoke-inside.ru$request_uri;
}
